{% extends "base.html" %}

{% block canonical_rel %}<link rel="canonical" href="{{ SITEURL }}">{% endblock %}

{% block banner %}
	{% include 'includes/banner.html' %}
{% endblock %}


{% block content %}
    <section id="content">
    	<h1>{{ SITENAME }}</h1>

        <h2>
        {% if NEWSNAME %}
            {{NEWSNAME}}
        {% else %}
            What's New
        {% endif %}
        <div id="archives">
        	<table>
            {% for article in dates %}
            {% if article.category in NEWS_CATEGORY %}
                <tr><td><span class="categories-timestamp" style = "font-size:large"><time datetime="{{ article.date.isoformat() }}"> {{ article.date|strftime('%a, %b %d %Y') }} </time></span></td>
                <td><a href="{{ SITEURL }}/{{ article.url }}" style = "font-size:large">{{ article.title }}{% if article.subtitle %} - {{ article.subtitle }}{% endif %}</a></td></tr>
                <tr><td></td><td>{{ article.summary }}</td></tr>
            {% endif %}
            {% endfor %}
            </table>
        </div><br />

    	{% for page in pages %}
    	{% if page.slug == ACTIVITIES_SLUG %}
    		{{ page.content }}
    	{% endif %}
    	{% endfor %}
    </section>
{% endblock %}
